.gradle/
build/
!buildSrc/src/main/kotlin/dev/nerdsoft/build/
run/
*.iml
.kotlin/
generated/
versions/

*.history
*.bbmodel

*.config.json
*.xml

.idea/*
!.idea/runConfigurations/
!.idea/runConfigurations/*.xml

*.tags.*/
*.history.*
*ignore
!.gitignore
